.vehicle{
	border-bottom: 2px solid #000;
	padding: 10px;
	cursor: pointer;
	&.selected{
		background: #c1d6bd8f;
	}

	&:hover{
		background: #399c2887;
	}

	&__name{
		font-weight: bold;
		font-size: 20px;
		color: #584f4fe6;
	}

	&__state{
		span{
			text-decoration: underline;;
		}
	}
}